@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');

$primary-font: 'Lora', serif;

// text font for About me page

p {
    font-family: $primary-font;
    font-weight: 400;
}

.intro-block {
    // padding: 0.5rem;
    background-color: grey;
    // border-radius: 0.5rem;
    // display: inline-block;
}

h1 {
    padding-top: 3rem;
}