$primary: #efe6e6;
$secondary: #e7dada;
// f6f1f1
body, #root {
    background-color: $primary;
    min-height: 100vh;
}

.navbar {
    background-color: $secondary;  // Set the navbar's background color to your secondary color
}



// @import "bootstrap/scss/bootstrap";
// #F7E4E4, a muted pink for primary