
$primary: #efe6e6;   // Custom primary color
$secondary: #e7dada;  // Custom secondary color

// @use 'bootstrap/scss/bootstrap' with (
//   $primary: $primary,   // Custom primary color
//   $secondary: $secondary // Custom secondary color
// );

// f6f1f1
body, #root {
    background-color: $primary;
    min-height: 100vh;
}

.navbar {
    background-color: $secondary;  // Set the navbar's background color to your secondary color
}

.custom-second-color {
    background-color: $secondary !important;
    color: black !important;
    border: none !important;
    &:hover {
        background-color: #efe6e6;  // Lighter background color on hover
        color: white;               // Change text color to white on hover
      }
}

// $primary: #efe6e6,
// $secondary: #e7dada


// @import "bootstrap/scss/bootstrap";
// #F7E4E4, a muted pink for primary