// img {
//     padding-top: 1rem;
//     padding-bottom: 1rem;
// }

@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');
// text font for About me page
$primary-font: 'Lora', serif;

.sollogo {
    img {
        padding-top: 1rem;
        padding-bottom: 1rem;
    }
    p {
        padding-bottom: 1rem;
    }
}

.solentry {
    img {
        padding-bottom: 1rem;
        justify-items: center;
    }
    p {
        padding-top: 1rem;
    }
}

.learnText {
    p {
        text-indent: 2em;
    }
}

h1 {
    padding: 0;
    margin: 0;
    font-family: $primary-font;
    font-weight: 700;
}

h3 {
    font-family: $primary-font;
    
}

p {
    font-family: $primary-font;
    font-weight: 400;
    margin-bottom: 1rem;
    font-size: medium;
    text-align: left;
}
