
.card {
    width: 60%;
    margin-left: -10px;
    background-color: rgb(211, 154, 211);
    height: 50vh;
}

.about-me {
    margin-left: -10px;
}
.about-me-title {
    margin-left: -10px;
}
    /* justify-content: right;
    align-items: top;   *
    /* font-size: 1.5rem;               
    font-weight: bold;               
    /* margin-bottom: 1rem;   */
/* }