
.card {
    width: 60%;
    margin-left: -10px;
    background-color: rgb(211, 154, 211);
    height: 80vh;
}

.card-img {
    object-fit: cover;
    height: 50vh;
    width: 100%;
}

.card-body {
    flex-grow: 1; /* Ensures the content scales within the card */
}

.card-title {
    font-size: 2rem;
}
  
  .card-text {
    font-size: 1rem;
}
.about-me {
    margin-left: -20px;
}
.about-me-title {
    margin-left: -20px;
}
