@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');

$primary-font: 'Lora', serif;

// text font for About me page

.speepy-container {
    min-height: 100vh; /* Ensure the container is at least as tall as the viewport */
    display: flex;
    flex-direction: column;
}

p {
    font-family: $primary-font;
    font-weight: 400;
    margin-bottom: 1rem;
    font-size: medium;
    text-align: left;
}

h1 {
    font-family: $primary-font;
    font-weight: 700;
    margin-bottom: 2rem;
}

.speepy-title {
    text-align: left;
}

.under-title {
    display: block;
    text-align: left;
}

.premise-contribute {
    p {
        text-indent: 2em;
    }
}

// .styled-link {
//     color: #5A9;
//     text-decoration: none;
//     font-weight: bold;
  
//     &:hover {
//       text-decoration: underline;
//       color: #4A8;
//     }
//   }